* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  height: 100%;
}

main {
  overflow: hidden;
}

.navBar {
  width: 100%;
  position: fixed;
  padding-top: 30px;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 80px;
  list-style-type: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.navBar a {
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  color: white;
  transition: .3s ease;
}

.navBar a:hover {
  color: red;
  transition: .3s ease;
}

.main_page_1 {
  max-width: 1440px;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page_1_container {
  max-width: 1440px;
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Mukta', sans-serif;
}

.my_name {
  font-size: 5rem;
  padding: 0 5%;
  width: 100%;
  color: gray;
  line-height: 80px;
  transition: .3s ease;
}

.my_pic {
  max-width: 500px;
  min-width: 100px;
  width: 100%;
  padding-right: 100px;
  border-radius: 50%;
  transition: .3s ease;
  border: 0;
}

.my_picture {
  padding: 30px;
}

.my_pic:hover {
  padding: 10px;
  transition: .3s ease;
  box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.7);
}

#jearim {
  color: white;
  transition: .3s ease;
}

#jearim:hover {
  color: red;
  transition: .3s ease;
}

.my_name:hover {
  color: white;
  transition: .3s ease;
  
  #jearim {
    color: red;
    transition: .3s ease;
  }
}










.main_page_2 {
  max-width: 1440px;
  padding-top: 170px;
}

.project_showcase {
  max-width: 1440px;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.projects {
  width: 300px;
  height: 600px;
  background-color: aqua;
  transition: .3s ease;
}

.project_1 {
  background-image: url(assets/img/warDev.png);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease;
}

.project_2 {
  background-image: url(assets/img/kobeni.png);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease;
}

.project_3 {
  background-image: url(assets/img/fami.jpeg);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease;
}

.project_link {
  font-size: 12rem;
  opacity: 1;
  color: black;
  text-decoration: none;
  transition: .3s ease;
}

.projects:hover {
  scale: 1.2;
  opacity: 1;
  transition: .3s ease;

  .project_link {
    color: red;
    transition: .3s ease;
  }
}





.main_page_3 {
  padding: 400px 0px 310px 0px;
  max-width: 1440px;
}

.my_socials {
  max-width: 1440px;
  height: 300px;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.socials {
  width: 100px;
  height: 100px;
  margin: 0px 100px 0px 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.social_link {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  font-family: 'Mukta', sans-serif;
  transition: .3s ease;
}

.social_link:hover {
  color: red;
  scale: 1.2;
  transition: .3s ease;
}








@media screen and (min-width: 1440px) {
  .main_page_1 {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
  }
  .navBar {
    margin-left: auto;
    margin-right: auto;
  }

  .main_page_2 {
    margin-left: auto;
    margin-right: auto;
  }

  .main_page_3 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .my_pic {
    padding: 0;
    width: 500px;
  }
}
  
@media screen and (max-width: 1024px) {
  .page_1_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .my_pic {
    padding: 0;
    width: 100%;
    border-radius: 50%;
    border: 5px solid black;
  }
  .my_name {
    padding: 0px 0px 40px 0px;
    width: 100%;
    font-size: 5rem;
    text-align: center;
    min-width: 30%;
  }
  .main_page_1 {
    padding: 100px 50px 0px 50px;
  }

  .project_showcase {
    display: flex;
    flex-direction: column;
  }

  .projects {
    min-width: 300px;
    width: 90%;
    max-width: 800px;
    height: 300px;
    box-sizing: content-box;
    margin: 30px;

  }
}

@media screen and (max-width: 768px) {
  .my_name {
    font-size: 10vw;
    line-height: 65px;
  }

  .navBar a {
    font-size: 8vw;
  }

  .socials {
    margin: 0px 40px;
  }
}

@media screen and (max-width: 500px) {
  .my_name {
    font-size: 10vw;
    line-height: 50px;
  }

  .my_socials {
    display: flex;
    flex-direction: column;
    
  }
}
